.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Purchase-label {
  font-size: 80%;
  font-weight: bold;
}

.Info-label {
  font-weight: normal;
  font-style: italic;
  text-decoration-line: underline;
  margin-left: 10px;
}

.Info-label:hover {
  color: lightgray;
}

.Price-description {
  font-size: 80%;
}